node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

scripts/bucket/mamager_deploy.ts

contracts/BAS.sol
contracts/GreenfieldDemo.sol

# Hardhat files
cache
artifacts
contracts/tests/

.DS_Store
 contracts/.DS_Store

./test/Lock.ts
.openzeppelin/

scripts/test.ts